USE [master]
GO
/****** Object:  Database [MangaEditorialDB]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE DATABASE [MangaEditorialDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MangaEditorialDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MangaEditorialDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MangaEditorialDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MangaEditorialDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MangaEditorialDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MangaEditorialDB]
GO
/****** Object:  Table [dbo].[Annotation]    Script Date: 6/3/2026 9:29:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Annotation](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[manuscriptId] [bigint] NOT NULL,
	[editorId] [bigint] NOT NULL,
	[pageNumber] [int] NOT NULL,
	[category] [varchar](30) NOT NULL,
	[status] [varchar](30) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[manuscriptVersionId] [bigint] NULL,
	[xPercent] [decimal](5, 2) NULL,
	[yPercent] [decimal](5, 2) NULL,
	[widthPercent] [decimal](5, 2) NULL,
	[heightPercent] [decimal](5, 2) NULL,
	[severity] [varchar](20) NULL,
	[parentAnnotationId] [bigint] NULL,
	[resolvedAt] [datetime] NULL,
	[resolvedBy] [bigint] NULL,
	[manuscriptPageId] [bigint] NULL,
 CONSTRAINT [PK_Annotation] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLog]    Script Date: 6/3/2026 9:29:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[actorId] [bigint] NULL,
	[action] [varchar](255) NOT NULL,
	[entityType] [varchar](100) NOT NULL,
	[entityId] [bigint] NOT NULL,
	[detail] [nvarchar](max) NULL,
	[performedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_AuditLog] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chapter]    Script Date: 6/3/2026 9:29:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chapter](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[seriesId] [bigint] NOT NULL,
	[chapterNumber] [int] NOT NULL,
	[title] [varchar](255) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[submissionDeadline] [date] NOT NULL,
	[publicationDate] [date] NOT NULL,
	[completionPct] [decimal](5, 2) NOT NULL,
	[atRisk] [bit] NOT NULL,
	[totalPages] [int] NULL,
	[createdAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Chapter] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChapterImage]    Script Date: 6/3/2026 9:29:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChapterImage](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[chapterId] [bigint] NOT NULL,
	[pageTaskId] [bigint] NULL,
	[pageId] [bigint] NULL,
	[uploadedBy] [bigint] NOT NULL,
	[imageType] [varchar](20) NOT NULL,
	[pageNumber] [int] NULL,
	[fileUrl] [varchar](512) NOT NULL,
	[originalFileName] [nvarchar](255) NOT NULL,
	[fileSizeBytes] [bigint] NULL,
	[uploadedAt] [datetime] NOT NULL,
	[isActive] [bit] NOT NULL,
	[note] [nvarchar](500) NULL,
	[imageUrl]  AS ([fileUrl]) PERSISTED NOT NULL,
 CONSTRAINT [PK_ChapterImage] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DecisionSession]    Script Date: 6/3/2026 9:29:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DecisionSession](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[seriesId] [bigint] NOT NULL,
	[rankingRecordId] [bigint] NOT NULL,
	[status] [varchar](10) NOT NULL,
	[result] [varchar](15) NULL,
	[systemSuggestion] [varchar](20) NULL,
	[openedAt] [datetime] NOT NULL,
	[closedAt] [datetime] NULL,
	[revenueTrendSnapshot] [nvarchar](max) NULL,
 CONSTRAINT [PK_DecisionSession] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DecisionVote]    Script Date: 6/3/2026 9:29:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DecisionVote](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[sessionId] [bigint] NOT NULL,
	[voterId] [bigint] NOT NULL,
	[decision] [varchar](15) NOT NULL,
	[justification] [nvarchar](max) NULL,
	[votedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_DecisionVote] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MangakaAssistant]    Script Date: 6/3/2026 9:29:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MangakaAssistant](
	[mangakaId] [bigint] NOT NULL,
	[assistantId] [bigint] NOT NULL,
	[enrolledAt] [datetime] NOT NULL,
 CONSTRAINT [PK_MangakaAssistant] PRIMARY KEY CLUSTERED 
(
	[mangakaId] ASC,
	[assistantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MangakaRankingRecord]    Script Date: 6/3/2026 9:29:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MangakaRankingRecord](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[periodId] [bigint] NOT NULL,
	[mangakaId] [bigint] NOT NULL,
	[totalReads] [bigint] NOT NULL,
	[totalRevenue] [decimal](15, 2) NOT NULL,
	[totalLikes] [bigint] NOT NULL,
	[rankPosition] [int] NOT NULL,
	[calculatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_MangakaRankingRecord] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manuscript]    Script Date: 6/3/2026 9:29:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manuscript](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[chapterId] [bigint] NOT NULL,
	[version] [int] NOT NULL,
	[status] [varchar](20) NOT NULL,
	[submittedAt] [datetime] NOT NULL,
	[reviewDeadline]  AS (dateadd(hour,(48),[submittedAt])) PERSISTED,
	[fileUrl] [varchar](512) NOT NULL,
	[revisionDeadline] [datetime] NULL,
	[feedback] [nvarchar](max) NULL,
	[seriesTitle] [nvarchar](255) NULL,
	[chapterTitle] [nvarchar](255) NULL,
	[chapterNumber] [int] NULL,
	[originalFileName] [nvarchar](255) NULL,
	[uploadedAt] [datetime] NULL,
	[fileSize] [bigint] NULL,
	[fileExtension] [varchar](20) NULL,
	[notes] [nvarchar](max) NULL,
	[genre] [nvarchar](255) NULL,
 CONSTRAINT [PK_Manuscript] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManuscriptPage]    Script Date: 6/3/2026 9:29:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManuscriptPage](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[manuscriptVersionId] [bigint] NOT NULL,
	[displayOrder] [int] NOT NULL,
	[snapshotFileUrl] [varchar](512) NOT NULL,
	[originalFileUrl] [varchar](512) NOT NULL,
	[sourceChapterImageId] [bigint] NULL,
	[sourcePageTaskId] [bigint] NULL,
	[pageNumber] [int] NOT NULL,
	[snapshotCreatedAt] [datetime] NOT NULL,
	[snapshotChecksum] [varchar](64) NOT NULL,
 CONSTRAINT [PK_ManuscriptPage] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManuscriptProductionLock]    Script Date: 6/3/2026 9:29:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManuscriptProductionLock](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[chapterId] [bigint] NOT NULL,
	[manuscriptVersionId] [bigint] NOT NULL,
	[lockedAt] [datetime] NOT NULL,
	[lockedBy] [bigint] NOT NULL,
	[unlockedAt] [datetime] NULL,
 CONSTRAINT [PK_ManuscriptProductionLock] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ManuscriptProductionLock_Chapter] UNIQUE NONCLUSTERED 
(
	[chapterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManuscriptVersion]    Script Date: 6/3/2026 9:29:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManuscriptVersion](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[chapterId] [bigint] NOT NULL,
	[version] [int] NOT NULL,
	[status] [varchar](20) NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[submittedAt] [datetime] NULL,
	[approvedAt] [datetime] NULL,
	[rejectedAt] [datetime] NULL,
	[feedback] [nvarchar](max) NULL,
	[revisionNotes] [nvarchar](max) NULL,
	[totalPageCount] [int] NULL,
	[previousVersionId] [bigint] NULL,
	[publishedAt] [datetime] NULL,
	[createdBy] [bigint] NULL,
	[submittedBy] [bigint] NULL,
	[approvedBy] [bigint] NULL,
	[rejectedBy] [bigint] NULL,
 CONSTRAINT [PK_ManuscriptVersion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ManuscriptVersion_Chapter_Version] UNIQUE NONCLUSTERED 
(
	[chapterId] ASC,
	[version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 6/3/2026 9:29:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[userId] [bigint] NOT NULL,
	[type] [varchar](50) NOT NULL,
	[title] [nvarchar](200) NULL,
	[message] [nvarchar](max) NOT NULL,
	[referenceId] [bigint] NULL,
	[referenceType] [varchar](50) NULL,
	[viewUrl] [nvarchar](500) NULL,
	[isRead] [bit] NOT NULL,
	[createdAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Page]    Script Date: 6/3/2026 9:29:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Page](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[chapterId] [bigint] NOT NULL,
	[pageNumber] [int] NOT NULL,
	[imageUrl] [nvarchar](512) NULL,
	[uploadedBy] [bigint] NULL,
	[uploadedAt] [datetime] NULL,
	[status] [varchar](20) NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[completedStage] [varchar](30) NULL,
 CONSTRAINT [PK_Page] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Page_chapter_page] UNIQUE NONCLUSTERED 
(
	[chapterId] ASC,
	[pageNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PageTask]    Script Date: 6/3/2026 9:29:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PageTask](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[chapterId] [bigint] NOT NULL,
	[pageId] [bigint] NULL,
	[assistantId] [bigint] NOT NULL,
	[pageRangeStart] [int] NOT NULL,
	[pageRangeEnd] [int] NOT NULL,
	[taskType] [varchar](100) NOT NULL,
	[dueDate] [date] NOT NULL,
	[status] [varchar](20) NOT NULL,
	[rejectionCount] [int] NOT NULL,
	[rejectionReason] [nvarchar](300) NULL,
	[approvalComment] [nvarchar](300) NULL,
	[priority] [varchar](20) NULL,
	[notes] [nvarchar](500) NULL,
	[assignedAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
	[actionReason] [nvarchar](300) NULL,
	[previousAssistantId] [bigint] NULL,
 CONSTRAINT [PK_PageTask] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proposal]    Script Date: 6/3/2026 9:29:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proposal](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[mangakaId] [bigint] NOT NULL,
	[title] [varchar](255) NOT NULL,
	[genre] [varchar](100) NOT NULL,
	[synopsis] [nvarchar](max) NOT NULL,
	[sampleFilePath] [varchar](512) NOT NULL,
	[originalFileName] [nvarchar](255) NOT NULL,
	[approximateChapter] [int] NOT NULL,
	[status] [varchar](20) NOT NULL,
	[submittedAt] [datetime] NULL,
	[rejectedAt] [datetime] NULL,
	[assignedEditorId] [bigint] NULL,
	[submitAttemptCount] [int] NOT NULL,
	[tantouReviewOverdue] [bit] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Proposal] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProposalBoardRound]    Script Date: 6/3/2026 9:29:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProposalBoardRound](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[proposalId] [bigint] NOT NULL,
	[submitAttemptNumber] [int] NOT NULL,
	[roundNumber] [int] NOT NULL,
	[status] [varchar](10) NOT NULL,
	[openedAt] [datetime] NOT NULL,
	[closesAt] [datetime] NOT NULL,
	[closedAt] [datetime] NULL,
	[closeReason] [varchar](30) NULL,
 CONSTRAINT [PK_ProposalBoardRound] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProposalBoardRoundVoter]    Script Date: 6/3/2026 9:29:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProposalBoardRoundVoter](
	[roundId] [bigint] NOT NULL,
	[voterId] [bigint] NOT NULL,
 CONSTRAINT [PK_ProposalBoardRoundVoter] PRIMARY KEY CLUSTERED 
(
	[roundId] ASC,
	[voterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProposalHistory]    Script Date: 6/3/2026 9:29:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProposalHistory](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[proposalId] [bigint] NOT NULL,
	[actorId] [bigint] NULL,
	[actorRole] [varchar](50) NOT NULL,
	[actionType] [varchar](30) NOT NULL,
	[note] [nvarchar](max) NULL,
	[submitAttemptNumber] [int] NOT NULL,
	[boardRoundId] [bigint] NULL,
	[createdAt] [datetime] NOT NULL,
 CONSTRAINT [PK_ProposalHistory] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RankingPeriod]    Script Date: 6/3/2026 9:29:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RankingPeriod](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[startDate] [date] NOT NULL,
	[endDate] [date] NOT NULL,
	[status] [varchar](15) NOT NULL,
	[calculatedAt] [datetime] NULL,
 CONSTRAINT [PK_RankingPeriod] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RankingRecord]    Script Date: 6/3/2026 9:29:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RankingRecord](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[periodId] [bigint] NOT NULL,
	[seriesId] [bigint] NOT NULL,
	[rankScore] [decimal](6, 2) NOT NULL,
	[rankPosition] [int] NOT NULL,
	[isBottomTwenty] [bit] NOT NULL,
	[calculatedAt] [datetime] NOT NULL,
	[totalLikes] [bigint] NULL,
	[totalReads] [bigint] NULL,
 CONSTRAINT [PK_RankingRecord] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReviewDecision]    Script Date: 6/3/2026 9:29:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewDecision](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[manuscriptVersionId] [bigint] NOT NULL,
	[reviewerId] [bigint] NOT NULL,
	[decisionType] [varchar](20) NOT NULL,
	[comment] [nvarchar](max) NULL,
	[decisionAt] [datetime] NOT NULL,
 CONSTRAINT [PK_ReviewDecision] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReviewTask]    Script Date: 6/3/2026 9:29:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewTask](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[versionId] [bigint] NOT NULL,
	[reviewerId] [bigint] NOT NULL,
	[assignedAt] [datetime] NOT NULL,
	[dueAt] [datetime] NOT NULL,
	[reviewStatus] [varchar](20) NOT NULL,
 CONSTRAINT [PK_ReviewTask] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 6/3/2026 9:29:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id] [bigint] NOT NULL,
	[name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Role_name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Series]    Script Date: 6/3/2026 9:29:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Series](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[proposalId] [bigint] NOT NULL,
	[mangakaId] [bigint] NOT NULL,
	[tantouEditorId] [bigint] NOT NULL,
	[title] [varchar](255) NOT NULL,
	[genre] [varchar](100) NOT NULL,
	[status] [varchar](10) NOT NULL,
	[publicationDate] [date] NULL,
	[createdAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Series] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Series_proposalId] UNIQUE NONCLUSTERED 
(
	[proposalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeriesAssistant]    Script Date: 6/3/2026 9:29:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeriesAssistant](
	[seriesId] [bigint] NOT NULL,
	[assistantId] [bigint] NOT NULL,
	[enrolledAt] [datetime] NOT NULL,
 CONSTRAINT [PK_SeriesAssistant] PRIMARY KEY CLUSTERED 
(
	[seriesId] ASC,
	[assistantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 6/3/2026 9:29:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[passwordHash] [varchar](255) NOT NULL,
	[fullName] [varchar](255) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[status] [varchar](10) NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_User_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_User_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 6/3/2026 9:29:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[userId] [bigint] NOT NULL,
	[roleId] [bigint] NOT NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[userId] ASC,
	[roleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VoteEntry]    Script Date: 6/3/2026 9:29:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VoteEntry](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[periodId] [bigint] NOT NULL,
	[seriesId] [bigint] NOT NULL,
	[boardMemberId] [bigint] NOT NULL,
	[voteCount] [int] NOT NULL,
	[readerCount] [int] NOT NULL,
	[revenue] [decimal](15, 2) NOT NULL,
	[submittedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_VoteEntry] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Annotation_manuscriptId]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_Annotation_manuscriptId] ON [dbo].[Annotation]
(
	[manuscriptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Annotation_ManuscriptPage]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_Annotation_ManuscriptPage] ON [dbo].[Annotation]
(
	[manuscriptPageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Annotation_ManuscriptVersion_Page]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_Annotation_ManuscriptVersion_Page] ON [dbo].[Annotation]
(
	[manuscriptVersionId] ASC,
	[pageNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuditLog_actorId]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_AuditLog_actorId] ON [dbo].[AuditLog]
(
	[actorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AuditLog_entityType_Id]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_AuditLog_entityType_Id] ON [dbo].[AuditLog]
(
	[entityType] ASC,
	[entityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Chapter_seriesId]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_Chapter_seriesId] ON [dbo].[Chapter]
(
	[seriesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Chapter_status]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_Chapter_status] ON [dbo].[Chapter]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChapterImage_chapterId]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_ChapterImage_chapterId] ON [dbo].[ChapterImage]
(
	[chapterId] ASC,
	[isActive] ASC,
	[pageNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChapterImage_pageTaskId]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_ChapterImage_pageTaskId] ON [dbo].[ChapterImage]
(
	[pageTaskId] ASC
)
WHERE ([pageTaskId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChapterImage_uploadedBy]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_ChapterImage_uploadedBy] ON [dbo].[ChapterImage]
(
	[uploadedBy] ASC,
	[uploadedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DecisionSession_openedAt]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_DecisionSession_openedAt] ON [dbo].[DecisionSession]
(
	[openedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DecisionSession_seriesId]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_DecisionSession_seriesId] ON [dbo].[DecisionSession]
(
	[seriesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DecisionSession_seriesId_status]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_DecisionSession_seriesId_status] ON [dbo].[DecisionSession]
(
	[seriesId] ASC,
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DecisionVote_sessionId]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_DecisionVote_sessionId] ON [dbo].[DecisionVote]
(
	[sessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_DecisionVote_session_voter]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_DecisionVote_session_voter] ON [dbo].[DecisionVote]
(
	[sessionId] ASC,
	[voterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MangakaRankingRecord_periodId]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_MangakaRankingRecord_periodId] ON [dbo].[MangakaRankingRecord]
(
	[periodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Manuscript_chapterId]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_Manuscript_chapterId] ON [dbo].[Manuscript]
(
	[chapterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ManuscriptPage_ManuscriptVersion_DisplayOrder]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_ManuscriptPage_ManuscriptVersion_DisplayOrder] ON [dbo].[ManuscriptPage]
(
	[manuscriptVersionId] ASC,
	[displayOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ManuscriptVersion_Chapter_Status]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_ManuscriptVersion_Chapter_Status] ON [dbo].[ManuscriptVersion]
(
	[chapterId] ASC,
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ManuscriptVersion_Chapter_Version]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_ManuscriptVersion_Chapter_Version] ON [dbo].[ManuscriptVersion]
(
	[chapterId] ASC,
	[version] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ManuscriptVersion_PreviousVersion]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_ManuscriptVersion_PreviousVersion] ON [dbo].[ManuscriptVersion]
(
	[previousVersionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_ManuscriptVersion_ActiveWorkspace]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_ManuscriptVersion_ActiveWorkspace] ON [dbo].[ManuscriptVersion]
(
	[chapterId] ASC
)
WHERE ([status] IN ('DRAFT', 'IN_PROGRESS', 'SUBMITTED_FOR_REVIEW', 'UNDER_REVIEW'))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notification_isRead]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_Notification_isRead] ON [dbo].[Notification]
(
	[userId] ASC,
	[isRead] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notification_userId]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_Notification_userId] ON [dbo].[Notification]
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Page_chapterId]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_Page_chapterId] ON [dbo].[Page]
(
	[chapterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PageTask_assistantId]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_PageTask_assistantId] ON [dbo].[PageTask]
(
	[assistantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PageTask_chapterId]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_PageTask_chapterId] ON [dbo].[PageTask]
(
	[chapterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Proposal_assignedEditor]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_Proposal_assignedEditor] ON [dbo].[Proposal]
(
	[assignedEditorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Proposal_mangakaId]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_Proposal_mangakaId] ON [dbo].[Proposal]
(
	[mangakaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Proposal_status]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_Proposal_status] ON [dbo].[Proposal]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_Proposal_one_draft_per_mangaka]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Proposal_one_draft_per_mangaka] ON [dbo].[Proposal]
(
	[mangakaId] ASC
)
WHERE ([status]='DRAFT')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PBR_proposal_status]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_PBR_proposal_status] ON [dbo].[ProposalBoardRound]
(
	[proposalId] ASC,
	[submitAttemptNumber] ASC,
	[status] ASC,
	[roundNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PH_boardRound]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_PH_boardRound] ON [dbo].[ProposalHistory]
(
	[boardRoundId] ASC,
	[actorRole] ASC,
	[actionType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProposalHistory_proposal]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProposalHistory_proposal] ON [dbo].[ProposalHistory]
(
	[proposalId] ASC,
	[createdAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RankingPeriod_status_endDate]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_RankingPeriod_status_endDate] ON [dbo].[RankingPeriod]
(
	[status] ASC,
	[endDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RankingRecord_periodId]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_RankingRecord_periodId] ON [dbo].[RankingRecord]
(
	[periodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RankingRecord_periodId_rankPosition]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_RankingRecord_periodId_rankPosition] ON [dbo].[RankingRecord]
(
	[periodId] ASC,
	[rankPosition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RankingRecord_seriesId]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_RankingRecord_seriesId] ON [dbo].[RankingRecord]
(
	[seriesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReviewDecision_ManuscriptVersion]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_ReviewDecision_ManuscriptVersion] ON [dbo].[ReviewDecision]
(
	[manuscriptVersionId] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReviewDecision_Reviewer]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_ReviewDecision_Reviewer] ON [dbo].[ReviewDecision]
(
	[reviewerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReviewTask_dueAt]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_ReviewTask_dueAt] ON [dbo].[ReviewTask]
(
	[dueAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReviewTask_reviewerId]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_ReviewTask_reviewerId] ON [dbo].[ReviewTask]
(
	[reviewerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReviewTask_versionId]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_ReviewTask_versionId] ON [dbo].[ReviewTask]
(
	[versionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Series_mangakaId]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_Series_mangakaId] ON [dbo].[Series]
(
	[mangakaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_UserRole_single_admin]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_UserRole_single_admin] ON [dbo].[UserRole]
(
	[roleId] ASC
)
WHERE ([roleId]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VoteEntry_periodId]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_VoteEntry_periodId] ON [dbo].[VoteEntry]
(
	[periodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VoteEntry_periodId_seriesId]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_VoteEntry_periodId_seriesId] ON [dbo].[VoteEntry]
(
	[periodId] ASC,
	[seriesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VoteEntry_seriesId]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_VoteEntry_seriesId] ON [dbo].[VoteEntry]
(
	[seriesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_VoteEntry_period_series_board]    Script Date: 6/3/2026 9:29:55 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_VoteEntry_period_series_board] ON [dbo].[VoteEntry]
(
	[periodId] ASC,
	[seriesId] ASC,
	[boardMemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Annotation] ADD  CONSTRAINT [DF_Annotation_category]  DEFAULT ('OTHER') FOR [category]
GO
ALTER TABLE [dbo].[Annotation] ADD  CONSTRAINT [DF_Annotation_status]  DEFAULT ('OPEN') FOR [status]
GO
ALTER TABLE [dbo].[Annotation] ADD  CONSTRAINT [DF_Annotation_createdAt]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[AuditLog] ADD  CONSTRAINT [DF_AuditLog_performedAt]  DEFAULT (getdate()) FOR [performedAt]
GO
ALTER TABLE [dbo].[Chapter] ADD  CONSTRAINT [DF_Chapter_status]  DEFAULT ('PLANNING') FOR [status]
GO
ALTER TABLE [dbo].[Chapter] ADD  CONSTRAINT [DF_Chapter_completionPct]  DEFAULT ((0.00)) FOR [completionPct]
GO
ALTER TABLE [dbo].[Chapter] ADD  CONSTRAINT [DF_Chapter_atRisk]  DEFAULT ((0)) FOR [atRisk]
GO
ALTER TABLE [dbo].[Chapter] ADD  CONSTRAINT [DF_Chapter_createdAt]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[ChapterImage] ADD  CONSTRAINT [DF_ChapterImage_imageType]  DEFAULT ('PAGE') FOR [imageType]
GO
ALTER TABLE [dbo].[ChapterImage] ADD  CONSTRAINT [DF_ChapterImage_uploadedAt]  DEFAULT (getdate()) FOR [uploadedAt]
GO
ALTER TABLE [dbo].[ChapterImage] ADD  CONSTRAINT [DF_ChapterImage_isActive]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[DecisionSession] ADD  CONSTRAINT [DF_DecisionSession_status]  DEFAULT ('OPEN') FOR [status]
GO
ALTER TABLE [dbo].[DecisionSession] ADD  CONSTRAINT [DF_DecisionSession_openedAt]  DEFAULT (getdate()) FOR [openedAt]
GO
ALTER TABLE [dbo].[DecisionVote] ADD  CONSTRAINT [DF_DecisionVote_votedAt]  DEFAULT (getdate()) FOR [votedAt]
GO
ALTER TABLE [dbo].[MangakaAssistant] ADD  CONSTRAINT [DF_MA_enrolledAt]  DEFAULT (getdate()) FOR [enrolledAt]
GO
ALTER TABLE [dbo].[MangakaRankingRecord] ADD  DEFAULT ((0)) FOR [totalReads]
GO
ALTER TABLE [dbo].[MangakaRankingRecord] ADD  DEFAULT ((0)) FOR [totalRevenue]
GO
ALTER TABLE [dbo].[MangakaRankingRecord] ADD  DEFAULT ((0)) FOR [totalLikes]
GO
ALTER TABLE [dbo].[MangakaRankingRecord] ADD  DEFAULT (getdate()) FOR [calculatedAt]
GO
ALTER TABLE [dbo].[Manuscript] ADD  CONSTRAINT [DF_Manuscript_version]  DEFAULT ((1)) FOR [version]
GO
ALTER TABLE [dbo].[Manuscript] ADD  CONSTRAINT [DF_Manuscript_status]  DEFAULT ('SUBMITTED') FOR [status]
GO
ALTER TABLE [dbo].[Manuscript] ADD  CONSTRAINT [DF_Manuscript_submittedAt]  DEFAULT (getdate()) FOR [submittedAt]
GO
ALTER TABLE [dbo].[ManuscriptPage] ADD  DEFAULT (getdate()) FOR [snapshotCreatedAt]
GO
ALTER TABLE [dbo].[ManuscriptProductionLock] ADD  DEFAULT (getdate()) FOR [lockedAt]
GO
ALTER TABLE [dbo].[ManuscriptVersion] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Notification] ADD  CONSTRAINT [DF_Notification_isRead]  DEFAULT ((0)) FOR [isRead]
GO
ALTER TABLE [dbo].[Notification] ADD  CONSTRAINT [DF_Notification_createdAt]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Page] ADD  CONSTRAINT [DF_Page_status]  DEFAULT ('EMPTY') FOR [status]
GO
ALTER TABLE [dbo].[Page] ADD  CONSTRAINT [DF_Page_createdAt]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PageTask] ADD  CONSTRAINT [DF_PageTask_status]  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[PageTask] ADD  CONSTRAINT [DF_PageTask_rejectionCount]  DEFAULT ((0)) FOR [rejectionCount]
GO
ALTER TABLE [dbo].[PageTask] ADD  CONSTRAINT [DF_PageTask_priority]  DEFAULT ('NORMAL') FOR [priority]
GO
ALTER TABLE [dbo].[PageTask] ADD  CONSTRAINT [DF_PageTask_assignedAt]  DEFAULT (getdate()) FOR [assignedAt]
GO
ALTER TABLE [dbo].[PageTask] ADD  CONSTRAINT [DF_PageTask_updatedAt]  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[Proposal] ADD  CONSTRAINT [DF_Proposal_sampleFilePath]  DEFAULT ('') FOR [sampleFilePath]
GO
ALTER TABLE [dbo].[Proposal] ADD  CONSTRAINT [DF_Proposal_originalFileName]  DEFAULT ('') FOR [originalFileName]
GO
ALTER TABLE [dbo].[Proposal] ADD  CONSTRAINT [DF_Proposal_approxChapter]  DEFAULT ((1)) FOR [approximateChapter]
GO
ALTER TABLE [dbo].[Proposal] ADD  CONSTRAINT [DF_Proposal_status]  DEFAULT ('DRAFT') FOR [status]
GO
ALTER TABLE [dbo].[Proposal] ADD  CONSTRAINT [DF_Proposal_submitAttemptCount]  DEFAULT ((0)) FOR [submitAttemptCount]
GO
ALTER TABLE [dbo].[Proposal] ADD  CONSTRAINT [DF_Proposal_tantouReviewOverdue]  DEFAULT ((0)) FOR [tantouReviewOverdue]
GO
ALTER TABLE [dbo].[Proposal] ADD  CONSTRAINT [DF_Proposal_createdAt]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Proposal] ADD  CONSTRAINT [DF_Proposal_updatedAt]  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[ProposalHistory] ADD  CONSTRAINT [DF_PH_submitAttemptNumber]  DEFAULT ((0)) FOR [submitAttemptNumber]
GO
ALTER TABLE [dbo].[ProposalHistory] ADD  CONSTRAINT [DF_PH_createdAt]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[RankingPeriod] ADD  CONSTRAINT [DF_RankingPeriod_status]  DEFAULT ('UPCOMING') FOR [status]
GO
ALTER TABLE [dbo].[RankingRecord] ADD  CONSTRAINT [DF_RankingRecord_isBottomTwenty]  DEFAULT ((0)) FOR [isBottomTwenty]
GO
ALTER TABLE [dbo].[RankingRecord] ADD  CONSTRAINT [DF_RankingRecord_calculatedAt]  DEFAULT (getdate()) FOR [calculatedAt]
GO
ALTER TABLE [dbo].[RankingRecord] ADD  DEFAULT ((0)) FOR [totalLikes]
GO
ALTER TABLE [dbo].[RankingRecord] ADD  DEFAULT ((0)) FOR [totalReads]
GO
ALTER TABLE [dbo].[ReviewDecision] ADD  DEFAULT (getdate()) FOR [decisionAt]
GO
ALTER TABLE [dbo].[Series] ADD  CONSTRAINT [DF_Series_status]  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[Series] ADD  CONSTRAINT [DF_Series_createdAt]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_status]  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_createdAt]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_updatedAt]  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[VoteEntry] ADD  DEFAULT ((0)) FOR [revenue]
GO
ALTER TABLE [dbo].[VoteEntry] ADD  CONSTRAINT [DF_VoteEntry_submittedAt]  DEFAULT (getdate()) FOR [submittedAt]
GO
ALTER TABLE [dbo].[Annotation]  WITH CHECK ADD  CONSTRAINT [FK_Annotation_Editor] FOREIGN KEY([editorId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Annotation] CHECK CONSTRAINT [FK_Annotation_Editor]
GO
ALTER TABLE [dbo].[Annotation]  WITH CHECK ADD  CONSTRAINT [FK_Annotation_Manuscript] FOREIGN KEY([manuscriptId])
REFERENCES [dbo].[Manuscript] ([id])
GO
ALTER TABLE [dbo].[Annotation] CHECK CONSTRAINT [FK_Annotation_Manuscript]
GO
ALTER TABLE [dbo].[Annotation]  WITH CHECK ADD  CONSTRAINT [FK_Annotation_ManuscriptPage] FOREIGN KEY([manuscriptPageId])
REFERENCES [dbo].[ManuscriptPage] ([id])
GO
ALTER TABLE [dbo].[Annotation] CHECK CONSTRAINT [FK_Annotation_ManuscriptPage]
GO
ALTER TABLE [dbo].[Annotation]  WITH CHECK ADD  CONSTRAINT [FK_Annotation_ManuscriptVersion] FOREIGN KEY([manuscriptVersionId])
REFERENCES [dbo].[ManuscriptVersion] ([id])
GO
ALTER TABLE [dbo].[Annotation] CHECK CONSTRAINT [FK_Annotation_ManuscriptVersion]
GO
ALTER TABLE [dbo].[Annotation]  WITH CHECK ADD  CONSTRAINT [FK_Annotation_Parent] FOREIGN KEY([parentAnnotationId])
REFERENCES [dbo].[Annotation] ([id])
GO
ALTER TABLE [dbo].[Annotation] CHECK CONSTRAINT [FK_Annotation_Parent]
GO
ALTER TABLE [dbo].[AuditLog]  WITH CHECK ADD  CONSTRAINT [FK_AuditLog_Actor] FOREIGN KEY([actorId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[AuditLog] CHECK CONSTRAINT [FK_AuditLog_Actor]
GO
ALTER TABLE [dbo].[Chapter]  WITH CHECK ADD  CONSTRAINT [FK_Chapter_Series] FOREIGN KEY([seriesId])
REFERENCES [dbo].[Series] ([id])
GO
ALTER TABLE [dbo].[Chapter] CHECK CONSTRAINT [FK_Chapter_Series]
GO
ALTER TABLE [dbo].[ChapterImage]  WITH CHECK ADD  CONSTRAINT [FK_ChapterImage_Page] FOREIGN KEY([pageId])
REFERENCES [dbo].[Page] ([id])
GO
ALTER TABLE [dbo].[ChapterImage] CHECK CONSTRAINT [FK_ChapterImage_Page]
GO
ALTER TABLE [dbo].[ChapterImage]  WITH CHECK ADD  CONSTRAINT [FK_CI_Chapter] FOREIGN KEY([chapterId])
REFERENCES [dbo].[Chapter] ([id])
GO
ALTER TABLE [dbo].[ChapterImage] CHECK CONSTRAINT [FK_CI_Chapter]
GO
ALTER TABLE [dbo].[ChapterImage]  WITH CHECK ADD  CONSTRAINT [FK_CI_PageTask] FOREIGN KEY([pageTaskId])
REFERENCES [dbo].[PageTask] ([id])
GO
ALTER TABLE [dbo].[ChapterImage] CHECK CONSTRAINT [FK_CI_PageTask]
GO
ALTER TABLE [dbo].[ChapterImage]  WITH CHECK ADD  CONSTRAINT [FK_CI_UploadedBy] FOREIGN KEY([uploadedBy])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[ChapterImage] CHECK CONSTRAINT [FK_CI_UploadedBy]
GO
ALTER TABLE [dbo].[DecisionSession]  WITH CHECK ADD  CONSTRAINT [FK_DS_RankingRecord] FOREIGN KEY([rankingRecordId])
REFERENCES [dbo].[RankingRecord] ([id])
GO
ALTER TABLE [dbo].[DecisionSession] CHECK CONSTRAINT [FK_DS_RankingRecord]
GO
ALTER TABLE [dbo].[DecisionSession]  WITH CHECK ADD  CONSTRAINT [FK_DS_Series] FOREIGN KEY([seriesId])
REFERENCES [dbo].[Series] ([id])
GO
ALTER TABLE [dbo].[DecisionSession] CHECK CONSTRAINT [FK_DS_Series]
GO
ALTER TABLE [dbo].[DecisionVote]  WITH CHECK ADD  CONSTRAINT [FK_DV_Session] FOREIGN KEY([sessionId])
REFERENCES [dbo].[DecisionSession] ([id])
GO
ALTER TABLE [dbo].[DecisionVote] CHECK CONSTRAINT [FK_DV_Session]
GO
ALTER TABLE [dbo].[DecisionVote]  WITH CHECK ADD  CONSTRAINT [FK_DV_Voter] FOREIGN KEY([voterId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[DecisionVote] CHECK CONSTRAINT [FK_DV_Voter]
GO
ALTER TABLE [dbo].[MangakaAssistant]  WITH CHECK ADD  CONSTRAINT [FK_MA_Assistant] FOREIGN KEY([assistantId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[MangakaAssistant] CHECK CONSTRAINT [FK_MA_Assistant]
GO
ALTER TABLE [dbo].[MangakaAssistant]  WITH CHECK ADD  CONSTRAINT [FK_MA_Mangaka] FOREIGN KEY([mangakaId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[MangakaAssistant] CHECK CONSTRAINT [FK_MA_Mangaka]
GO
ALTER TABLE [dbo].[MangakaRankingRecord]  WITH CHECK ADD  CONSTRAINT [FK_MRR_Period] FOREIGN KEY([periodId])
REFERENCES [dbo].[RankingPeriod] ([id])
GO
ALTER TABLE [dbo].[MangakaRankingRecord] CHECK CONSTRAINT [FK_MRR_Period]
GO
ALTER TABLE [dbo].[MangakaRankingRecord]  WITH CHECK ADD  CONSTRAINT [FK_MRR_User] FOREIGN KEY([mangakaId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[MangakaRankingRecord] CHECK CONSTRAINT [FK_MRR_User]
GO
ALTER TABLE [dbo].[Manuscript]  WITH CHECK ADD  CONSTRAINT [FK_Manuscript_Chapter] FOREIGN KEY([chapterId])
REFERENCES [dbo].[Chapter] ([id])
GO
ALTER TABLE [dbo].[Manuscript] CHECK CONSTRAINT [FK_Manuscript_Chapter]
GO
ALTER TABLE [dbo].[ManuscriptPage]  WITH CHECK ADD  CONSTRAINT [FK_ManuscriptPage_ManuscriptVersion] FOREIGN KEY([manuscriptVersionId])
REFERENCES [dbo].[ManuscriptVersion] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ManuscriptPage] CHECK CONSTRAINT [FK_ManuscriptPage_ManuscriptVersion]
GO
ALTER TABLE [dbo].[ManuscriptProductionLock]  WITH CHECK ADD  CONSTRAINT [FK_ManuscriptProductionLock_ManuscriptVersion] FOREIGN KEY([manuscriptVersionId])
REFERENCES [dbo].[ManuscriptVersion] ([id])
GO
ALTER TABLE [dbo].[ManuscriptProductionLock] CHECK CONSTRAINT [FK_ManuscriptProductionLock_ManuscriptVersion]
GO
ALTER TABLE [dbo].[ManuscriptVersion]  WITH CHECK ADD  CONSTRAINT [FK_ManuscriptVersion_Chapter] FOREIGN KEY([chapterId])
REFERENCES [dbo].[Chapter] ([id])
GO
ALTER TABLE [dbo].[ManuscriptVersion] CHECK CONSTRAINT [FK_ManuscriptVersion_Chapter]
GO
ALTER TABLE [dbo].[ManuscriptVersion]  WITH CHECK ADD  CONSTRAINT [FK_ManuscriptVersion_PreviousVersion] FOREIGN KEY([previousVersionId])
REFERENCES [dbo].[ManuscriptVersion] ([id])
GO
ALTER TABLE [dbo].[ManuscriptVersion] CHECK CONSTRAINT [FK_ManuscriptVersion_PreviousVersion]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_User] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_User]
GO
ALTER TABLE [dbo].[Page]  WITH CHECK ADD  CONSTRAINT [FK_Page_Chapter] FOREIGN KEY([chapterId])
REFERENCES [dbo].[Chapter] ([id])
GO
ALTER TABLE [dbo].[Page] CHECK CONSTRAINT [FK_Page_Chapter]
GO
ALTER TABLE [dbo].[PageTask]  WITH CHECK ADD  CONSTRAINT [FK_PageTask_Assistant] FOREIGN KEY([assistantId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[PageTask] CHECK CONSTRAINT [FK_PageTask_Assistant]
GO
ALTER TABLE [dbo].[PageTask]  WITH CHECK ADD  CONSTRAINT [FK_PageTask_Chapter] FOREIGN KEY([chapterId])
REFERENCES [dbo].[Chapter] ([id])
GO
ALTER TABLE [dbo].[PageTask] CHECK CONSTRAINT [FK_PageTask_Chapter]
GO
ALTER TABLE [dbo].[PageTask]  WITH CHECK ADD  CONSTRAINT [FK_PageTask_Page] FOREIGN KEY([pageId])
REFERENCES [dbo].[Page] ([id])
GO
ALTER TABLE [dbo].[PageTask] CHECK CONSTRAINT [FK_PageTask_Page]
GO
ALTER TABLE [dbo].[Proposal]  WITH CHECK ADD  CONSTRAINT [FK_Proposal_Editor] FOREIGN KEY([assignedEditorId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Proposal] CHECK CONSTRAINT [FK_Proposal_Editor]
GO
ALTER TABLE [dbo].[Proposal]  WITH CHECK ADD  CONSTRAINT [FK_Proposal_Mangaka] FOREIGN KEY([mangakaId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Proposal] CHECK CONSTRAINT [FK_Proposal_Mangaka]
GO
ALTER TABLE [dbo].[ProposalBoardRound]  WITH CHECK ADD  CONSTRAINT [FK_PBR_Proposal] FOREIGN KEY([proposalId])
REFERENCES [dbo].[Proposal] ([id])
GO
ALTER TABLE [dbo].[ProposalBoardRound] CHECK CONSTRAINT [FK_PBR_Proposal]
GO
ALTER TABLE [dbo].[ProposalBoardRoundVoter]  WITH CHECK ADD  CONSTRAINT [FK_PBRV_Round] FOREIGN KEY([roundId])
REFERENCES [dbo].[ProposalBoardRound] ([id])
GO
ALTER TABLE [dbo].[ProposalBoardRoundVoter] CHECK CONSTRAINT [FK_PBRV_Round]
GO
ALTER TABLE [dbo].[ProposalBoardRoundVoter]  WITH CHECK ADD  CONSTRAINT [FK_PBRV_Voter] FOREIGN KEY([voterId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[ProposalBoardRoundVoter] CHECK CONSTRAINT [FK_PBRV_Voter]
GO
ALTER TABLE [dbo].[ProposalHistory]  WITH CHECK ADD  CONSTRAINT [FK_PH_Actor] FOREIGN KEY([actorId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[ProposalHistory] CHECK CONSTRAINT [FK_PH_Actor]
GO
ALTER TABLE [dbo].[ProposalHistory]  WITH CHECK ADD  CONSTRAINT [FK_PH_BoardRound] FOREIGN KEY([boardRoundId])
REFERENCES [dbo].[ProposalBoardRound] ([id])
GO
ALTER TABLE [dbo].[ProposalHistory] CHECK CONSTRAINT [FK_PH_BoardRound]
GO
ALTER TABLE [dbo].[ProposalHistory]  WITH CHECK ADD  CONSTRAINT [FK_PH_Proposal] FOREIGN KEY([proposalId])
REFERENCES [dbo].[Proposal] ([id])
GO
ALTER TABLE [dbo].[ProposalHistory] CHECK CONSTRAINT [FK_PH_Proposal]
GO
ALTER TABLE [dbo].[RankingRecord]  WITH CHECK ADD  CONSTRAINT [FK_RR_Period] FOREIGN KEY([periodId])
REFERENCES [dbo].[RankingPeriod] ([id])
GO
ALTER TABLE [dbo].[RankingRecord] CHECK CONSTRAINT [FK_RR_Period]
GO
ALTER TABLE [dbo].[RankingRecord]  WITH CHECK ADD  CONSTRAINT [FK_RR_Series] FOREIGN KEY([seriesId])
REFERENCES [dbo].[Series] ([id])
GO
ALTER TABLE [dbo].[RankingRecord] CHECK CONSTRAINT [FK_RR_Series]
GO
ALTER TABLE [dbo].[ReviewDecision]  WITH CHECK ADD  CONSTRAINT [FK_ReviewDecision_ManuscriptVersion] FOREIGN KEY([manuscriptVersionId])
REFERENCES [dbo].[ManuscriptVersion] ([id])
GO
ALTER TABLE [dbo].[ReviewDecision] CHECK CONSTRAINT [FK_ReviewDecision_ManuscriptVersion]
GO
ALTER TABLE [dbo].[ReviewTask]  WITH CHECK ADD  CONSTRAINT [FK_ReviewTask_ManuscriptVersion] FOREIGN KEY([versionId])
REFERENCES [dbo].[ManuscriptVersion] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReviewTask] CHECK CONSTRAINT [FK_ReviewTask_ManuscriptVersion]
GO
ALTER TABLE [dbo].[ReviewTask]  WITH CHECK ADD  CONSTRAINT [FK_ReviewTask_User] FOREIGN KEY([reviewerId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[ReviewTask] CHECK CONSTRAINT [FK_ReviewTask_User]
GO
ALTER TABLE [dbo].[Series]  WITH CHECK ADD  CONSTRAINT [FK_Series_Mangaka] FOREIGN KEY([mangakaId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Series] CHECK CONSTRAINT [FK_Series_Mangaka]
GO
ALTER TABLE [dbo].[Series]  WITH CHECK ADD  CONSTRAINT [FK_Series_Proposal] FOREIGN KEY([proposalId])
REFERENCES [dbo].[Proposal] ([id])
GO
ALTER TABLE [dbo].[Series] CHECK CONSTRAINT [FK_Series_Proposal]
GO
ALTER TABLE [dbo].[Series]  WITH CHECK ADD  CONSTRAINT [FK_Series_TantouEditor] FOREIGN KEY([tantouEditorId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Series] CHECK CONSTRAINT [FK_Series_TantouEditor]
GO
ALTER TABLE [dbo].[SeriesAssistant]  WITH CHECK ADD  CONSTRAINT [FK_SeriesAssistant_Assistant] FOREIGN KEY([assistantId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[SeriesAssistant] CHECK CONSTRAINT [FK_SeriesAssistant_Assistant]
GO
ALTER TABLE [dbo].[SeriesAssistant]  WITH CHECK ADD  CONSTRAINT [FK_SeriesAssistant_Series] FOREIGN KEY([seriesId])
REFERENCES [dbo].[Series] ([id])
GO
ALTER TABLE [dbo].[SeriesAssistant] CHECK CONSTRAINT [FK_SeriesAssistant_Series]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_Role] FOREIGN KEY([roleId])
REFERENCES [dbo].[Role] ([id])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_Role]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_User] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_User]
GO
ALTER TABLE [dbo].[VoteEntry]  WITH CHECK ADD  CONSTRAINT [FK_VE_BoardMember] FOREIGN KEY([boardMemberId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[VoteEntry] CHECK CONSTRAINT [FK_VE_BoardMember]
GO
ALTER TABLE [dbo].[VoteEntry]  WITH CHECK ADD  CONSTRAINT [FK_VE_Period] FOREIGN KEY([periodId])
REFERENCES [dbo].[RankingPeriod] ([id])
GO
ALTER TABLE [dbo].[VoteEntry] CHECK CONSTRAINT [FK_VE_Period]
GO
ALTER TABLE [dbo].[VoteEntry]  WITH CHECK ADD  CONSTRAINT [FK_VE_Series] FOREIGN KEY([seriesId])
REFERENCES [dbo].[Series] ([id])
GO
ALTER TABLE [dbo].[VoteEntry] CHECK CONSTRAINT [FK_VE_Series]
GO
ALTER TABLE [dbo].[Annotation]  WITH CHECK ADD  CONSTRAINT [CK_Annotation_category] CHECK  (([category]='OTHER' OR [category]='PANELING' OR [category]='DIALOGUE' OR [category]='PACING' OR [category]='STORY' OR [category]='ART'))
GO
ALTER TABLE [dbo].[Annotation] CHECK CONSTRAINT [CK_Annotation_category]
GO
ALTER TABLE [dbo].[Annotation]  WITH CHECK ADD  CONSTRAINT [CK_Annotation_Coordinates] CHECK  (([xPercent] IS NULL OR [xPercent]>=(0) AND [xPercent]<=(100)))
GO
ALTER TABLE [dbo].[Annotation] CHECK CONSTRAINT [CK_Annotation_Coordinates]
GO
ALTER TABLE [dbo].[Annotation]  WITH CHECK ADD  CONSTRAINT [CK_Annotation_Coordinates_Height] CHECK  (([heightPercent] IS NULL OR [heightPercent]>(0) AND [heightPercent]<=(100)))
GO
ALTER TABLE [dbo].[Annotation] CHECK CONSTRAINT [CK_Annotation_Coordinates_Height]
GO
ALTER TABLE [dbo].[Annotation]  WITH CHECK ADD  CONSTRAINT [CK_Annotation_Coordinates_Width] CHECK  (([widthPercent] IS NULL OR [widthPercent]>(0) AND [widthPercent]<=(100)))
GO
ALTER TABLE [dbo].[Annotation] CHECK CONSTRAINT [CK_Annotation_Coordinates_Width]
GO
ALTER TABLE [dbo].[Annotation]  WITH CHECK ADD  CONSTRAINT [CK_Annotation_Coordinates_Y] CHECK  (([yPercent] IS NULL OR [yPercent]>=(0) AND [yPercent]<=(100)))
GO
ALTER TABLE [dbo].[Annotation] CHECK CONSTRAINT [CK_Annotation_Coordinates_Y]
GO
ALTER TABLE [dbo].[Annotation]  WITH CHECK ADD  CONSTRAINT [CK_Annotation_pageNumber] CHECK  (([pageNumber]>=(1)))
GO
ALTER TABLE [dbo].[Annotation] CHECK CONSTRAINT [CK_Annotation_pageNumber]
GO
ALTER TABLE [dbo].[Annotation]  WITH CHECK ADD  CONSTRAINT [CK_Annotation_Severity] CHECK  (([severity] IS NULL OR ([severity]='SUGGESTION' OR [severity]='LOW' OR [severity]='MEDIUM' OR [severity]='HIGH' OR [severity]='CRITICAL')))
GO
ALTER TABLE [dbo].[Annotation] CHECK CONSTRAINT [CK_Annotation_Severity]
GO
ALTER TABLE [dbo].[Annotation]  WITH CHECK ADD  CONSTRAINT [CK_Annotation_status] CHECK  (([status]='RESOLVED' OR [status]='OPEN'))
GO
ALTER TABLE [dbo].[Annotation] CHECK CONSTRAINT [CK_Annotation_status]
GO
ALTER TABLE [dbo].[AuditLog]  WITH CHECK ADD  CONSTRAINT [CK_AuditLog_entityType] CHECK  (([entityType]='IMAGE' OR [entityType]='USER' OR [entityType]='DECISION' OR [entityType]='MANUSCRIPT' OR [entityType]='TASK' OR [entityType]='CHAPTER' OR [entityType]='PROPOSAL' OR [entityType]='RANKING_PERIOD' OR [entityType]='SERIES'))
GO
ALTER TABLE [dbo].[AuditLog] CHECK CONSTRAINT [CK_AuditLog_entityType]
GO
ALTER TABLE [dbo].[Chapter]  WITH CHECK ADD  CONSTRAINT [CK_Chapter_completionPct] CHECK  (([completionPct]>=(0.00) AND [completionPct]<=(100.00)))
GO
ALTER TABLE [dbo].[Chapter] CHECK CONSTRAINT [CK_Chapter_completionPct]
GO
ALTER TABLE [dbo].[Chapter]  WITH CHECK ADD  CONSTRAINT [CK_Chapter_status] CHECK  (([status]='REJECTED' OR [status]='APPROVED' OR [status]='EDITORIAL_REVIEW' OR [status]='COMPLETE' OR [status]='IN_PROGRESS' OR [status]='PLANNING'))
GO
ALTER TABLE [dbo].[Chapter] CHECK CONSTRAINT [CK_Chapter_status]
GO
ALTER TABLE [dbo].[ChapterImage]  WITH CHECK ADD  CONSTRAINT [CK_CI_fileSizeBytes] CHECK  (([fileSizeBytes] IS NULL OR [fileSizeBytes]>(0)))
GO
ALTER TABLE [dbo].[ChapterImage] CHECK CONSTRAINT [CK_CI_fileSizeBytes]
GO
ALTER TABLE [dbo].[ChapterImage]  WITH CHECK ADD  CONSTRAINT [CK_CI_imageType] CHECK  (([imageType]='REFERENCE' OR [imageType]='COVER' OR [imageType]='PAGE'))
GO
ALTER TABLE [dbo].[ChapterImage] CHECK CONSTRAINT [CK_CI_imageType]
GO
ALTER TABLE [dbo].[ChapterImage]  WITH CHECK ADD  CONSTRAINT [CK_CI_pageNumber] CHECK  (([pageNumber] IS NULL OR [pageNumber]>=(1)))
GO
ALTER TABLE [dbo].[ChapterImage] CHECK CONSTRAINT [CK_CI_pageNumber]
GO
ALTER TABLE [dbo].[DecisionSession]  WITH CHECK ADD  CONSTRAINT [CK_DS_result] CHECK  (([result] IS NULL OR ([result]='DEFERRED' OR [result]='CHANGE_TYPE' OR [result]='CANCEL' OR [result]='CONTINUE')))
GO
ALTER TABLE [dbo].[DecisionSession] CHECK CONSTRAINT [CK_DS_result]
GO
ALTER TABLE [dbo].[DecisionSession]  WITH CHECK ADD  CONSTRAINT [CK_DS_status] CHECK  (([status]='DEFERRED' OR [status]='CLOSED' OR [status]='OPEN'))
GO
ALTER TABLE [dbo].[DecisionSession] CHECK CONSTRAINT [CK_DS_status]
GO
ALTER TABLE [dbo].[DecisionVote]  WITH CHECK ADD  CONSTRAINT [CK_DV_decision] CHECK  (([decision]='CHANGE_TYPE' OR [decision]='CANCEL' OR [decision]='CONTINUE'))
GO
ALTER TABLE [dbo].[DecisionVote] CHECK CONSTRAINT [CK_DV_decision]
GO
ALTER TABLE [dbo].[Manuscript]  WITH CHECK ADD  CONSTRAINT [CK_Manuscript_fileExtension] CHECK  (([fileExtension] IS NULL OR ([fileExtension]='cbz' OR [fileExtension]='rar' OR [fileExtension]='zip' OR [fileExtension]='pdf')))
GO
ALTER TABLE [dbo].[Manuscript] CHECK CONSTRAINT [CK_Manuscript_fileExtension]
GO
ALTER TABLE [dbo].[Manuscript]  WITH CHECK ADD  CONSTRAINT [CK_Manuscript_fileSize] CHECK  (([fileSize] IS NULL OR [fileSize]>(0) AND [fileSize]<=(52428800)))
GO
ALTER TABLE [dbo].[Manuscript] CHECK CONSTRAINT [CK_Manuscript_fileSize]
GO
ALTER TABLE [dbo].[Manuscript]  WITH CHECK ADD  CONSTRAINT [CK_Manuscript_status] CHECK  (([status]='ARCHIVED' OR [status]='REJECTED' OR [status]='APPROVED' OR [status]='REVISION_REQUIRED' OR [status]='UNDER_REVIEW' OR [status]='SUBMITTED' OR [status]='DRAFT'))
GO
ALTER TABLE [dbo].[Manuscript] CHECK CONSTRAINT [CK_Manuscript_status]
GO
ALTER TABLE [dbo].[Manuscript]  WITH CHECK ADD  CONSTRAINT [CK_Manuscript_version] CHECK  (([version]>=(1)))
GO
ALTER TABLE [dbo].[Manuscript] CHECK CONSTRAINT [CK_Manuscript_version]
GO
ALTER TABLE [dbo].[ManuscriptVersion]  WITH CHECK ADD  CONSTRAINT [CK_ManuscriptVersion_Status] CHECK  (([status]='ARCHIVED' OR [status]='REJECTED' OR [status]='PUBLISHED' OR [status]='APPROVED' OR [status]='UNDER_REVIEW' OR [status]='SUBMITTED_FOR_REVIEW' OR [status]='IN_PROGRESS' OR [status]='DRAFT'))
GO
ALTER TABLE [dbo].[ManuscriptVersion] CHECK CONSTRAINT [CK_ManuscriptVersion_Status]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [CK_Notification_refType] CHECK  (([referenceType] IS NULL OR ([referenceType]='SERIES' OR [referenceType]='DECISION' OR [referenceType]='PROPOSAL' OR [referenceType]='MANUSCRIPT' OR [referenceType]='CHAPTER' OR [referenceType]='TASK')))
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [CK_Notification_refType]
GO
ALTER TABLE [dbo].[Page]  WITH CHECK ADD  CONSTRAINT [CK_Page_pageNumber] CHECK  (([pageNumber]>=(1)))
GO
ALTER TABLE [dbo].[Page] CHECK CONSTRAINT [CK_Page_pageNumber]
GO
ALTER TABLE [dbo].[Page]  WITH CHECK ADD  CONSTRAINT [CK_Page_status] CHECK  (([status]='APPROVED' OR [status]='SUBMITTED' OR [status]='IN_PROGRESS' OR [status]='EMPTY'))
GO
ALTER TABLE [dbo].[Page] CHECK CONSTRAINT [CK_Page_status]
GO
ALTER TABLE [dbo].[PageTask]  WITH CHECK ADD  CONSTRAINT [CK_PageTask_pageRange] CHECK  (([pageRangeEnd]>=[pageRangeStart]))
GO
ALTER TABLE [dbo].[PageTask] CHECK CONSTRAINT [CK_PageTask_pageRange]
GO
ALTER TABLE [dbo].[PageTask]  WITH CHECK ADD  CONSTRAINT [CK_PageTask_status] CHECK  (([status]='REASSIGNED' OR [status]='DELETED' OR [status]='OVERDUE' OR [status]='REJECTED' OR [status]='APPROVED' OR [status]='SUBMITTED' OR [status]='IN_PROGRESS' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[PageTask] CHECK CONSTRAINT [CK_PageTask_status]
GO
ALTER TABLE [dbo].[Proposal]  WITH CHECK ADD  CONSTRAINT [CK_Proposal_approxChapter] CHECK  (([approximateChapter]>=(1)))
GO
ALTER TABLE [dbo].[Proposal] CHECK CONSTRAINT [CK_Proposal_approxChapter]
GO
ALTER TABLE [dbo].[Proposal]  WITH CHECK ADD  CONSTRAINT [CK_Proposal_status] CHECK  (([status]='REJECTED' OR [status]='APPROVED' OR [status]='REVISION_REQUESTED' OR [status]='BOARD_REVIEW' OR [status]='UNDER_REVIEW' OR [status]='DRAFT'))
GO
ALTER TABLE [dbo].[Proposal] CHECK CONSTRAINT [CK_Proposal_status]
GO
ALTER TABLE [dbo].[Proposal]  WITH CHECK ADD  CONSTRAINT [CK_Proposal_submitAttempts] CHECK  (([submitAttemptCount]>=(0) AND [submitAttemptCount]<=(2)))
GO
ALTER TABLE [dbo].[Proposal] CHECK CONSTRAINT [CK_Proposal_submitAttempts]
GO
ALTER TABLE [dbo].[ProposalBoardRound]  WITH CHECK ADD  CONSTRAINT [CK_PBR_status] CHECK  (([status]='CLOSED' OR [status]='OPEN'))
GO
ALTER TABLE [dbo].[ProposalBoardRound] CHECK CONSTRAINT [CK_PBR_status]
GO
ALTER TABLE [dbo].[ProposalHistory]  WITH CHECK ADD  CONSTRAINT [CK_PH_actionType] CHECK  (([actionType]='RESUBMITTED' OR [actionType]='REVISE_REQUESTED' OR [actionType]='REJECTED' OR [actionType]='APPROVED' OR [actionType]='ASSIGNED_EDITOR' OR [actionType]='SUBMITTED' OR [actionType]='UPDATED' OR [actionType]='CREATED'))
GO
ALTER TABLE [dbo].[ProposalHistory] CHECK CONSTRAINT [CK_PH_actionType]
GO
ALTER TABLE [dbo].[ProposalHistory]  WITH CHECK ADD  CONSTRAINT [CK_PH_submitAttempt] CHECK  (([submitAttemptNumber]>=(0) AND [submitAttemptNumber]<=(2)))
GO
ALTER TABLE [dbo].[ProposalHistory] CHECK CONSTRAINT [CK_PH_submitAttempt]
GO
ALTER TABLE [dbo].[RankingPeriod]  WITH CHECK ADD  CONSTRAINT [CK_RankingPeriod_dates] CHECK  (([endDate]>[startDate]))
GO
ALTER TABLE [dbo].[RankingPeriod] CHECK CONSTRAINT [CK_RankingPeriod_dates]
GO
ALTER TABLE [dbo].[RankingPeriod]  WITH CHECK ADD  CONSTRAINT [CK_RankingPeriod_status] CHECK  (([status]='CALCULATED' OR [status]='CALCULATING' OR [status]='CLOSED' OR [status]='OPEN' OR [status]='UPCOMING'))
GO
ALTER TABLE [dbo].[RankingPeriod] CHECK CONSTRAINT [CK_RankingPeriod_status]
GO
ALTER TABLE [dbo].[RankingRecord]  WITH CHECK ADD  CONSTRAINT [CK_RR_rankPosition] CHECK  (([rankPosition]>=(1)))
GO
ALTER TABLE [dbo].[RankingRecord] CHECK CONSTRAINT [CK_RR_rankPosition]
GO
ALTER TABLE [dbo].[RankingRecord]  WITH CHECK ADD  CONSTRAINT [CK_RR_rankScore] CHECK  (([rankScore]>=(0)))
GO
ALTER TABLE [dbo].[RankingRecord] CHECK CONSTRAINT [CK_RR_rankScore]
GO
ALTER TABLE [dbo].[ReviewDecision]  WITH CHECK ADD  CONSTRAINT [CK_ReviewDecision_DecisionType] CHECK  (([decisionType]='REJECT' OR [decisionType]='APPROVE'))
GO
ALTER TABLE [dbo].[ReviewDecision] CHECK CONSTRAINT [CK_ReviewDecision_DecisionType]
GO
ALTER TABLE [dbo].[ReviewTask]  WITH CHECK ADD  CONSTRAINT [CK_ReviewTask_reviewStatus] CHECK  (([reviewStatus]='ASSIGNED' OR [reviewStatus]='IN_PROGRESS' OR [reviewStatus]='COMPLETED' OR [reviewStatus]='OVERDUE'))
GO
ALTER TABLE [dbo].[ReviewTask] CHECK CONSTRAINT [CK_ReviewTask_reviewStatus]
GO
ALTER TABLE [dbo].[Role]  WITH CHECK ADD  CONSTRAINT [CK_Role_name] CHECK  (([name]='EDITORIAL_BOARD' OR [name]='TANTOU_EDITOR' OR [name]='ASSISTANT' OR [name]='MANGAKA' OR [name]='ADMIN'))
GO
ALTER TABLE [dbo].[Role] CHECK CONSTRAINT [CK_Role_name]
GO
ALTER TABLE [dbo].[Series]  WITH CHECK ADD  CONSTRAINT [CK_Series_status] CHECK  (([status]='CANCELLED' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[Series] CHECK CONSTRAINT [CK_Series_status]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [CK_User_status] CHECK  (([status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [CK_User_status]
GO
ALTER TABLE [dbo].[VoteEntry]  WITH CHECK ADD  CONSTRAINT [CK_VE_readerCount] CHECK  (([readerCount]>(0)))
GO
ALTER TABLE [dbo].[VoteEntry] CHECK CONSTRAINT [CK_VE_readerCount]
GO
ALTER TABLE [dbo].[VoteEntry]  WITH CHECK ADD  CONSTRAINT [CK_VE_voteCount] CHECK  (([voteCount]>=(0)))
GO
ALTER TABLE [dbo].[VoteEntry] CHECK CONSTRAINT [CK_VE_voteCount]
GO
USE [master]
GO
